#t-1 {
  background-color:white;
  position:fixed;
  width:900px; height:80px;
  margin-top:50px;
}
#t-2 {
    background-color:white;
    position:fixed;
    width:900px; height:80px;
    margin-top:150px;
}
#p-1 {
    position: absolute;
    width:60px; height:60px;
    background-color:blue;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    font-size:40px;
    color:white;
    text-align: center;
    /*background-image: url("images/batman.png");
    background-repeat: no-repeat;*/

}
#p-2 {
    position: absolute;;
    width:60px; height:60px;
    background-color:blue;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    font-size:40px;
    color:white;
    text-align: center;
}
.btn {
  align-items: center;
}
